.rps {
  background: url("rock.jpg") repeat;
  font-family: Georgia, Times, serif;
}


.section {
  background-color: white;
  border: 1px solid #777;
  border-bottom: 1px solid #333;
  display: inline-block;
  padding: 16px;
  min-height: 90px;
  margin: 8px 8px 0px 0px;
  float: left;
  vertical-align:text-top;
}

.section .yourScore {
  font-size: small;
  width: 100%;
}

.section .yourScore .title {
  float: left;
}

.section .yourScore .score {
  float: right;
}

.debugLog {
  background-color:rgb(240,240,240);
  border: grey 1px solid;
  display: block;
  font-family: Courier;
  font-size: 10px;
  overflow: auto;
  overflow-y: hidden;
  padding: 10px;
  white-space:nowrap;
  width: 100%;
}

h4 {
 font-size: 14px;
 margin: 0 0 8px 0;;
}
